* {
  margin: 0;
  padding: 0;
}

.main_content {
  text-align: center;
}

.content_1 {
  background-image:url(../images/Group\ 183.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 841.11px;
  margin-bottom: 48px;
  margin-top: -24px;
}

.logo {
  display: block;
  margin-top: 24px;
  margin-bottom: 40px;
  margin-left: 40px;
}

.text1 {
  color: white;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  font-family: 'Noto Sans JP', sans-serif;
  margin-bottom: 40px;
}

.dym_logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}

.sub_title {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.sub_title_2 {
  display: none;
  margin: 0 auto;
  margin-bottom: 40px;
}

.date {
  color: white;
  text-align: center;
  font-size: 43.37px;
  font-weight: 700;
  font-style: italic;
  line-height: 43.37px;
  margin-bottom: 10px;
}

.date span {
  color: white;
  text-align: center;
  font-size: 33.36px;
  font-weight: 700;
  font-style: italic;
  line-height: 43.37px;
  margin-bottom: 10px;
}

.text2 {
  color: white;
  text-align: center;
  font-size: 29.19px;
  font-weight: 700;
  font-family: 'Noto Sans JP', sans-serif;
  margin-bottom: 30px;
}

.linebutton {
  background-image: url(../images/button.png);
  height: 64px;
  max-width: 424px;
  margin: 0 auto;
  margin-bottom: 40px;
}

@media screen and (max-width:1000px) {
  .logo {
    max-width: 124px;
    height: 32.4px;
  }

  .text1 {
    font-size: 24px;
    font-weight: 650;
  }

  .date {
    font-size: 32px;
    font-weight: 650;
  }

  .date span {
    font-size: 28px;
    font-weight: 600;
  }

  .text2 {
    font-size: 24px;
    font-weight: 650;
  }
}

@media screen and (max-width:600px) {
  .content_1 {
    height: 600px;
  }

  .logo {
    max-width: 84.5px;
    height: 21.6px;
    padding-top: 8px;
  }

  .dym_logo {
    max-width: 440px;
    height: 200px;
  }

  .text1 {
    font-size: 16px;
    font-weight: 600;
  }

  .date {
    font-size: 24px;
    font-weight: 600;
  }

  .date span {
    font-size: 20px;
    font-weight: 550;
  }

  .text2 {
    font-size: 16px;
    font-weight: 600;
  }

  .linebutton {
    display: none;
  }

  .sub_title {
    display: none;
  }

  .sub_title_2 {
    display: block;
  }
}

@media screen and (max-width:440px) {
  .content_1 {
    height: 500px;
  }

  .logo {
    max-width: 58.5px;
    height: 14.4px;
  }

  .dym_logo {
    max-width: 320px;
    height: 145px;
  }

  .text1 {
    font-size: 12px;
    font-weight: 560;
  }

  .date {
    font-size: 20px;
    font-weight: 560;
    margin-bottom: 0px;
  }

  .date span {
    font-size: 16px;
    font-weight: 510;
  }

  .text2 {
    font-size: 12px;
    font-weight: 560;
    margin-top: -8px;
  }
}

.content_2 {
  background-image: url(../images/Group\ 185.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 1600px;
  margin-bottom: 48px;
}

.summit {
  margin-bottom: 12px;
}

.summit p {
  color: #81d7fc;
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  font-style: italic;
  line-height: 60px;
}

.undertext {
  background-image: url(../images/undertext.png);
  max-width: 325px;
  margin: 0 auto;
  height: 18px;
}

.btn {
  text-align: right;
  display: flex;
}

.sidebutton {
  background-image: url(../images/side_button.svg);
  height: 303px;
  width: 65px;
  border: none;
}

.text3 {
  color: black;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  font-family: 'Noto Sans JP', sans-serif;
  max-width: 640px;
  margin: 0 auto;
  height: 90px;
  line-height: 2.0;
  padding-top: 64px;
}

.text4 {
  max-width: 960px;
  margin: 0 auto;
  height: 139px;
  margin-bottom: 50px;
  margin-top: -112px;
}

.text4 p {
  color: black;
  text-align: left;
  font-size: 18px;
  font-weight: 500;
  line-height: 45px;
  font-family: 'Noto Sans JP', sans-serif;
}

.evn {
  padding-top: 100px;
  margin-bottom: 30px;
}

.evn p {
  color: #81d7fc;
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  font-style: italic;
  line-height: 60px;
}

.undertext2 {
  background-image: url(../images/undertext2.png);
  max-width: 269px;
  margin: 0 auto;
  height: 20px;
  margin-bottom: 52px;
}

.date2 {
  display: flex;
  border-bottom: 1px dotted #c4c4c4;
  width: 80%;
  margin-left: 17%;
  margin-bottom: 40px;
}

.content_img {
  height: 55px;
  width: 170px;
  border-radius: 30px;
  line-height: 55px;
  background-color: white;
  border: solid 3px #FDD35C;
  color: #FDD35C;
  font-size: 22px;
  font-weight: 700;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
}

.date2 p {
  color: black;
  font-size: 22px;
  font-weight: 700;
  font-family: 'Noto Sans JP', sans-serif;
  margin-left: 21px;
  margin-top: 15px;
  margin-bottom: 40px;
}

.place {
  display: flex;
  border-bottom: 1px dotted #c4c4c4;
  width: 80%;
  margin-left: 17%;
  margin-bottom: 30px;
}

.place p {
  color: black;
  font-size: 22px;
  font-weight: 700;
  font-family: 'Noto Sans JP', sans-serif;
  margin-left: 21px;
  margin-top: 15px;
  margin-bottom: 30px;
}

.event {
  display: flex;
  border-bottom: 1px dotted #c4c4c4;
  width: 80%;
  margin-left: 17%;
  margin-bottom: 40px;
}

.event p {
  color: black;
  font-size: 22px;
  font-weight: 700;
  font-family: 'Noto Sans JP', sans-serif;
  margin-left: 21px;
  margin-top: 15px;
  margin-bottom: 40px;
}

.target {
  display: flex;
  border-bottom: 1px dotted #c4c4c4;
  width: 80%;
  margin-left: 17%;
  margin-bottom: 40px;
}

.target p {
  color: black;
  font-size: 22px;
  font-weight: 700;
  font-family: 'Noto Sans JP', sans-serif;
  margin-left: 21px;
  margin-top: 15px;
  margin-bottom: 40px;
}

.access {
  display: flex;
  width: 80%;
  margin-left: 17%;
  /* margin-bottom: 40px; */
}

.text5 {
  color: black;
  font-size: 22px;
  font-weight: 700;
  font-family: 'Noto Sans JP', sans-serif;
  margin-left: 21px;
  margin-top: 15px;
  text-align: left;
}

.text6 {
  text-align: left;
  color: black;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Noto Sans JP', sans-serif;
  margin-left: 21px;
  margin-bottom: 40px;
}

.img3 {
  background-image: url(../images/map.png);
  height: 235px;
  width: 380px;
  border: none;
  margin-bottom: 40px;
}

.img3_1 {
  background-image: url(../images/map.png);
  height: 235px;
  width: 380px;
  border: none;
  margin-bottom: 40px;
  margin-left: 35%;
  display: none;
}

@media screen and (max-width:1000px) {
  
  .content_2 {
    margin-bottom: 250px;
  }

  .sidebutton {
    display: none;
  }

  .btn {
    margin-top: -60px;
  }

  .text4 {
    margin-top: 8px;
    width: 80%;
  }

  .text6 {
    font-size: 18px;
    font-weight: 550;
  }

  .img3 {
    display: none;
  }

  .img3_1 {
    display: block;
  }
}

@media screen and (max-width:800px) {
  .content_2 {
    margin-bottom: 300px;
  }

  .text4 {
    margin-bottom: 100px;
  }

  .summit p {
    font-size: 48px;
  }

  .evn p {
    font-size: 48px;
  }

  .date2 {
    width: 85%;
    margin-left: 10%;
  }

  .place {
    width: 85%;
    margin-left: 10%;
  }

  .event {
    width: 85%;
    margin-left: 10%;
  }

  .target {
    width: 85%;
    margin-left: 10%;
  }

  .access {
    width: 85%;
    margin-left: 10%;
  }

  .img3_1 {
    margin-left: 30%;
  }
}

@media screen and (max-width:700px) {
  .content_2 {
    margin-bottom: 450px;
  }
}

@media screen and (max-width:600px) {
  .content_2 {
    margin-bottom: 300px;
  }

  .text3 {
    display: none;
  }
  
  .text4 {
    margin-top: 100px;
    margin-bottom: 170px;
  }

  .date2 {
    width: 90%;
    margin-left: 5%;
  }

  .content_img {
    height: 55px;
    width: 140px;
    border-radius: 30px;
    line-height: 55px;
    background-color: white;
    border: solid 3px #FDD35C;
    color: #FDD35C;
    font-size: 18px;
    font-weight: 650;
    font-family: 'Noto Sans JP', sans-serif;
    text-align: center;
  }

  .date2 p {
    font-size: 18px;
    font-weight: 650;
    margin-left: 17px;
    margin-top: 15px;
    margin-bottom: 40px;
  }

  .place {
    width: 90%;
    margin-left: 5%;
  }

  .place p {
    font-size: 18px;
    font-weight: 650;
    margin-left: 17px;
    margin-top: 15px;
    margin-bottom: 40px;
  }

  .event {
    width: 90%;
    margin-left: 5%;
  }

  .event p {
    font-size: 18px;
    font-weight: 650;
    margin-left: 17px;
    margin-top: 15px;
    margin-bottom: 40px;
  }

  .target {
    width: 90%;
    margin-left: 5%;
  }

  .target p {
    font-size: 18px;
    font-weight: 650;
    margin-left: 17px;
    margin-top: 15px;
    margin-bottom: 40px;
  }

  .access {
    width: 90%;
    margin-left: 5%;
  }

  .text5 {
    font-size: 18px;
    font-weight: 650;
    margin-left: 17px;
    margin-top: 15px;
  }
  
  .text6 {
    font-size: 10px;
    font-weight: 450;
    margin-left: 17px;
    margin-bottom: 40px;
  }

  .img3_1 {
    margin-left: 20%;
  }
}

@media screen and (max-width:450px) {

  .text4 {
    margin-top:100px;
    margin-bottom: 170px;
  }

  .text4 p {
    font-size: 16px;
  }

  .summit p {
    font-size: 36px;
  }

  .evn p {
    font-size: 36px;
  }

  .img3_1 {
    margin-left: 3%;
  }
}

.content_3 {
  background-image: url(../images/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 814px;
  width: 100%;
  margin-top: -60px;
}

.contents {
  font-family: "Roboto Condensed";
  font-size: 60px;
  line-height: 60px;
  color: #FDD35C;
  text-align: center;
  font-weight: 700;
  font-style: italic;
  padding-top: 60px;
  margin-bottom: 36px;
}

.text7 {
  background-image: url(../images/text7.png);
  height: 18px;
  max-width: 209px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.detail {
  display: flex;
  justify-content: space-between;
  max-width: 964px;
  margin: 0 auto;
}

.detail_1 {
  background-image: url(../images/Rectangle\ 113.png);
  height: 377px;
  width: 435px;
}

.detail_2 {
  background-image: url(../images/Rectangle\ 113.png);
  height: 377px;
  width: 435px;
}

.obi {
  background-image: url(../images/Rectangle\ 110.png);
  height: 57px;
  width: 435px;
}

.obi p {
  color: white;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Noto Sans JP', sans-serif;
  padding-top: 10px;
}

.text8 {
  color: black;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Noto Sans JP', sans-serif;
  padding-top: 20px;
}

.text9 {
  color: black;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Noto Sans JP', sans-serif;
  padding-top: 20px;
}

.blue {
  background-image: url(../images/Vector\ 15.svg);
  height: 36px;
  width: 231px;
  margin-left: 102px;
  margin-top: -10px;
}

.text10 {
  color: #FDD35C;
  font-size: 28px;
  font-weight: 700;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  margin-top: -15px;
}

.text10_2 {
  color: #FDD35C;
  font-size: 28px;
  font-weight: 700;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
}

.text10 span {
  color: #FDD35C;
  font-size: 48px;
  font-weight: 600;
  font-style: italic;
}

.pic_1 {
  background-image: url(../images/AdobeStock_239185211\ 1.png);
  background-size: cover;
  height: 180px;
  max-width: 340px;
  margin: 0 auto;
}

.pic_2 {
  background-image: url(../images/pic_2.png);
  background-size: cover;
  height: 180px;
  max-width: 340px;
  margin: 0 auto;
}

.linebutton_2 {
  background-image: url(../images/button.png);
  height: 64px;
  max-width: 424px;
  margin: 0 auto;
  margin-top: 64px;
}

.content_3_s {
  display: none;
  background-image: url(../images/content3_1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 778px;
  width: 100%;
}

.contents_s {
  font-family: "Roboto Condensed";
  font-size: 40px;
  color: #FDD35C;
  text-align: center;
  font-weight: 700;
  font-style: italic;
  padding-top: 40px;
}

.text7_s {
  display: flex;
  width: 50%;
  padding-left: 35%;
  margin-bottom: 20px;
}

.text7_s img {
  padding-top: 10px;
}

.text7_s p {
  font-size: 14px;
  font-weight: 700;
  font-family: 'Noto Sans JP', sans-serif;
}

.detail_s {
  width: 80%;
  margin: 0 auto;
  display:flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  justify-content:space-between;
}

.detail_1_s {
  background-image: url(../images/details_1_s.png);
  width: 336px;
  height: 291px;
  margin-bottom: 40px;
}

.obi_s {
  background-image: url(../images/obi_s.png);
  width: 336px;
  height: 44px;
}

.obi_s p {
  color: white;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Noto Sans JP', sans-serif;
  padding-top: 5px;
}

.text8_s {
  color: black;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  font-family: 'Noto Sans JP', sans-serif;
  padding-top: 10px;
}

.blue_s {
  background-image: url(../images/blue_s.png);
  height: 25px;
  width: 178px;
  margin-left: 72px;
  margin-top: -5px;
}

.text10_s {
  color: #FDD35C;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  margin-top: -15px;
}

.text10_2_s {
  color: #FDD35C;
  font-size: 24px;
  font-weight: 700;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
}

.text10_s span {
  color: #FDD35C;
  font-size: 40px;
  font-weight: 600;
  font-style: italic;
}

.pic_1_s {
  background-image: url(../images/pic_1_s.png);
  background-size: cover;
  height: 140px;
  max-width: 262.62px;
  margin: 0 auto;
}

.detail_2_s {
  background-image: url(../images/details_1_s.png);
  width: 336px;
  height: 291px;
}

.text9_s {
  color: black;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  font-family: 'Noto Sans JP', sans-serif;
  padding-top: 10px;
}

.pic_2_s {
  background-image: url(../images/pic_2_s.png);
  background-size: cover;
  height: 139px;
  max-width: 262px;
  margin: 0 auto;
}


@media screen and (max-width:1200px) {
  .detail {
    width: 90%;
  }

}

@media screen and (max-width:1000px) {
  .content_3 {
    height: 1200px;
  }

  .detail {
    display:flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    justify-content:space-between;
    height: 800px;
  }

}

@media screen and (max-width:900px) {
  .content_3 {
    margin-top: 160px;
  }
}

@media screen and (max-width:750px) {
  .content_3 {
    margin-top: 200px;
  }
}

@media screen and (max-width:500px) {
  .content_3 {
    display: none;
  }

  .content_3_s {
    display: block;
  }

}

.content_4 {
  display: flex;
  width: 100%;
}

.strait_1 {
  background-image: url(../images/Rectangle\ 133.png);
  height: 626px;
  width: 50px;
  margin-left: 0px;
}

.strait_2 {
  background-image: url(../images/Rectangle\ 133.png);
  height: 626px;
  width: 50px;
  margin-right: 0px;
}

.pick {
  max-width: 1340px;
  margin: 0 auto;
}

.pickup {
  text-align: center;
  color: #FDD35C;
  font-size: 60px;
  font-weight: 700;
  font-style: italic;
  margin-top: 36px
}

.undertext11 {
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
}

.company {
  height: 375px;
  width: 968px;

}

.logo_box {
  height: 40px;
  max-width: 300px;
  margin: 0 auto;
}

.logo_1 {
  height: 60px;
  max-width: 25%;
  margin: 0 auto;
}
.logo_text, .logo_text_5 {
  max-width: 45%;
  margin: 0 auto;
  height: 48px;
  color: black;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Noto Sans JP', sans-serif;
  margin-bottom: 30px;
  text-align: left;
}

.logo_text a {
  display: block;
  color: black;
  font-weight: 500;
  font-size: 16px;
  text-align: left;
}

.logo_2 {
  height: 60px;
  max-width: 30%;
  margin: 0 auto;
}

.logo_3 {
  height: 60px;
  max-width: 30%;
  margin: 0 auto;
}

.logo_4 {
  height: 60px;
  max-width: 30%;
  margin: 0 auto;
}

.logo_5 {
  height: 60px;
  max-width: 30%;
  margin: 0 auto;
}

@media screen and (max-width:1000px) {
  .company {
    width: 80%;
    margin: 0 auto;
  }

  .company td,
  .company td {
    display: block;
    text-align: center;
  }

  .logo_1 {
    max-width: 40%;
    margin: 0 auto;
  }

  .logo_1 img {
    width: 120px;
    height: auto;
  }

  .logo_2 {
    max-width: 40%;
    margin: 0 auto;
  }

  .logo_2 img {
    width: 240px;
    height: auto;
  }

  .logo_3 {
    max-width: 40%;
    margin: 0 auto;
  }

  .logo_3 img {
    width: 300px;
    height: auto;
  }

  .logo_4 {
    max-width: 40%;
    margin: 0 auto;
    margin-top: -30px;
    margin-bottom: 30px;
  }

  .logo_4 img {
    width: 200px;
    height: auto;
  }

  .logo_5 {
    max-width: 40%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .logo_5 img {
    width: 130px;
    height: auto;
  }

  .logo_text, .logo_text_5 {
    max-width: 80%;
    margin: 0 auto;
    height: 96px;
    font-size: 20px;
    margin-bottom: 30px;
  }

  .logo_text_5 {
    margin-bottom: 0px;
  }

  .logo_text a {
    display: none;
  }

  .strait_1,
  .strait_2 {
    height: 1100px;
  }
}

@media screen and (max-width:750px) {
  .logo_1 {
    max-width: 40%;
    margin: 0 auto;
  }

  .logo_1 img {
    width: 150px;
    height: auto;
  }

  .logo_2 {
    max-width: 50%;
    margin: 0 auto;
  }

  .logo_2 img {
    width: 270px;
    height: auto;
  }

  .logo_3 {
    max-width: 70%;
    margin: 0 auto;
  }

  .logo_3 img {
    width: 330px;
    height: auto;
  }

  .logo_4 {
    max-width: 40%;
    margin: 0 auto;
    margin-top: -50px;
    margin-bottom: 50px;
  }

  .logo_4 img {
    width: 230px;
    height: auto;
  }

  .logo_5 {
    max-width: 50%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .logo_5 img {
    width: 160px;
    height: auto;
  }

  .logo_text, .logo_text_5 {
    max-width: 90%;
    margin: 0 auto;
    height: 96px;
    font-size: 20px;
    margin-bottom: 35px;
  }

  .strait_1,
  .strait_2 {
    height: 1200px;
  }
}

@media screen and (max-width:550px) {
  .pickup {
    font-size: 48px;
  }

  .logo_1 {
    max-width: 40%;
    margin: 0 auto;
  }

  .logo_1 img {
    width: 150px;
    height: auto;
  }

  .logo_2 {
    max-width: 70%;
    margin: 0 auto;
    margin-top: 30px;
  }

  .logo_2 img {
    width: 270px;
    height: auto;
  }

  .logo_3 {
    max-width: 70%;
    margin: 0 auto;
  }

  .logo_3 img {
    width: 330px;
    height: auto;
  }

  .logo_4 {
    max-width: 60%;
    margin: 0 auto;
    margin-top: -50px;
    margin-bottom: 50px;
  }

  .logo_4 img {
    width: 230px;
    height: auto;
  }

  .logo_5 img {
    display: none;
  }

  .logo_text_5 p {
    display: none;
  }

  .strait_1,
  .strait_2 {
    height: 1050px;
  }
}

@media screen and (max-width:430px) {
  .pickup {
    font-size: 36px;
  }

  .logo_1 {
    max-width: 50%;
    margin: 0 auto;
  }

  .logo_1 img {
    width: 150px;
    height: auto;
  }

  .logo_2 {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 50px;
  }

  .logo_2 img {
    width: 270px;
    height: auto;
  }

  .logo_3 {
    max-width: 90%;
    margin: 0 auto;
  }

  .logo_3 img {
    width: 330px;
    height: auto;
  }

  .logo_4 {
    max-width: 70%;
    margin: 0 auto;
    margin-top: -50px;
    margin-bottom: 50px;
  }

  .logo_4 img {
    width: 230px;
    height: auto;
  }
}

.content_5 {
  background-image: url(../images/Group\ 192.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 517px;
  width: 100%;
  margin-bottom: 168px;
}

.about {
  color: #81d7fc;
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  font-style: italic;
}

.text11 {
  background-image: url(../images/undertext3.png);
  height: 18px;
  max-width: 269px;
  margin: 0 auto;
  margin-bottom: 72px;
}

.list {
  display: flex;
  max-width: 60%;
  margin: 0 auto;
  justify-content: space-between;
  margin-bottom: 36px;
}

.list_1 {
  color: black;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  font-family: 'Noto Sans JP', sans-serif;
}

.list_2 {
  color: black;
  text-align: left;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  font-family: 'Noto Sans JP', sans-serif;
}

.text12 {
  color: black;
  text-align: right;
  padding-right: 200px;
  font-size: 20px;
  font-weight: 500;
  line-height: 36px;
  font-family: 'Noto Sans JP', sans-serif;
}

@media screen and (max-width:1000px) {
  .content_5 {
    background-image: url(../images/content5_s.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    width: 100%;
    margin-bottom: 96px;
    margin-top: -30px;
  }

  .about {
    font-size: 52px;
  }

  .list {
    max-width: 80%;
  }
}

@media screen and (max-width:800px) {
  .about {
    font-size: 48px;
  }

  .list {
    max-width: 95%;
  }

  .list_1, .list_2, .text12 {
    font-size: 16px;
  }
}

@media screen and (max-width:600px) {
  .content_5 {
    margin-top: -20px;
  }

  .about {
    font-size: 44px;
  }

  .list {
    max-width: 97%;
  }

  .list_1, .list_2, .text12 {
    font-size: 14px;
  }
}

@media screen and (max-width:550px) {
  .content_5 {
    margin-top: -150px;
  }
}

.content_6 {
  background-image: url(../images/background_4.png);
  background-size: cover;
  height: 1520px;
  width: 100%;
  margin-bottom: 48px;
}

.schedule {
  color: #00a8f0;
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  font-style: italic;
  line-height: 40px;
  padding-top: 100px;
  padding-bottom: 24px;
}

.text13 {
  background-image: url(../images/text13.png);
  height: 18px;
  max-width: 269px;
  margin: 0 auto;
}

.people {
  height: 1050px;
  max-width: 948px;
  margin: 0 auto;
  margin-top: 48px;
}

.people_1 {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 24px;
}

.people_box {
  background-image: url(../images/glay.png);
  height: 254px;
  width: 300px;
}

.people_2 {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 24px;
}

.people_3 {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 24px;
}

.people_4 {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: px;
}

.people_minbox {
  background-image: url(../images/minbox.png);
  height: 192px;
  width: 300px;
}

.people_logo {
  background-image: url(../images/Group\ 219.svg);
  height: 31px;
  width: 88px;
  margin-top: 10px;
  margin-left: -5px;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  font-family: 'Noto Sans JP', sans-serif;
}

.people_logo p {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  font-family: 'Noto Sans JP', sans-serif;
  padding-left: 10px;
  padding-top: 7px;
}

.people_pic_1 {
  background-image: url(../images/Group\ DJ社長.png);
  height: 134.04px;
  width: 130px;
  margin-left: 85px;
  margin-top: -20px;
  margin-bottom: 30px;
}

.people_1_text {
  height: 27px;
  max-width: 256px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  font-family: 'Noto Sans JP', sans-serif;
}

.people_pic_2 {
  background-image: url(../images/田端.png);
  height: 133.76px;
  width: 130px;
  margin-left: 85px;
  margin-top: -20px;
  margin-bottom: 20px;
}

.people_2_text {
  height: 77px;
  max-width: 266px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  font-family: 'Noto Sans JP', sans-serif;
}

.people_pic_3 {
  background-image: url(../images/宋.png);
  height: 133.76px;
  width: 130px;
  margin-left: 85px;
  margin-top: -20px;
  margin-bottom: 30px;
}

.people_3_text {
  height: 52px;
  max-width: 266px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  font-family: 'Noto Sans JP', sans-serif;
}

.people_pic_4 {
  background-image: url(../images/林.png);
  height: 133.76px;
  width: 130px;
  margin-left: 85px;
  margin-top: -20px;
  margin-bottom: 20px;
}

.people_4_text {
  height: 78px;
  max-width: 266px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  font-family: 'Noto Sans JP', sans-serif;
}

.people_pic_5 {
  background-image: url(../images/木下.png);
  height: 133.76px;
  width: 130px;
  margin-left: 85px;
  margin-top: -20px;
  margin-bottom: 30px;
} 

.people_5_text {
  height: 52px;
  max-width: 266px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  font-family: 'Noto Sans JP', sans-serif;
}

.people_pic_6 {
  background-image: url(../images/株本.png);
  height: 133.76px;
  width: 130px;
  margin-left: 85px;
  margin-top: -20px;
  margin-bottom: 30px;
}

.people_6_text {
  height: 52px;
  max-width: 266px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  font-family: 'Noto Sans JP', sans-serif;
}

.people_pic_7 {
  display: flex;
}

.people_pic_7_1 {
  background-image: url(../images/やまもと.png);
  height: 100.16px;
  width: 100.16px;
}

.people_pic_7_2 {
  background-image: url(../images/迫.png);
  height: 100.16px;
  width: 100.16px;
}

.people_pic_7_3 {
  background-image: url(../images/青笹.png);
  height: 100.16px;
  width: 100.16px;
}

.people_pic_7_obi {
  background-image: url(../images/people_7_obi.png);
  width: 285px;
  height: 28px;
  display: flex;
  margin-left: 8px;
}

.people_pic_7_obi_1 {
  font-size: 11px;
  font-weight: 700;
  font-family: 'Noto Sans JP', sans-serif;
  padding-left: 20px;
}

.people_pic_7_obi_2 {
  font-size: 15px;
  line-height: 15px;
  font-weight: 700;
  font-family: 'Noto Sans JP', sans-serif;
  padding-top: 7px;
  padding-left: 20px;
}

.people_pic_7_obi_3 {
  font-size: 15px;
  line-height: 15px;
  font-weight: 700;
  font-family: 'Noto Sans JP', sans-serif;
  padding-top: 7px;
  padding-left: 20px;
}

.people_7_text {
  width: 260px;
  height: 52px;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  font-family: 'Noto Sans JP', sans-serif;
  margin-top: 16px;
  margin-left: 25px;
}

.people_pic_8 {
  background-image: url(../images/井上.png);
  height: 133.76px;
  width: 130px;
  margin-left: 85px;
  margin-top: -20px;
  margin-bottom: 20px;
}

.people_8_text {
  height: 77px;
  max-width: 266px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  font-family: 'Noto Sans JP', sans-serif;
}

.people_pic_9 {
  display: flex;
}

.people_pic_9_1 {
  background-image: url(../images/板橋.png);
  height: 112.69px;
  width: 112.69px;
  margin-left: 36px;
  margin-top: -18px;
}

.people_pic_9_2 {
  background-image: url(../images/藍口.png);
  height: 108.44px;
  width: 108.44px;
  margin-left: 10px;
  margin-top: -18px;
}

.people_pic_9_obi {
  background-image: url(../images/people_9_obi.png);
  height: 28.38px;
  max-width: 239.35px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.people_9_text {
  height: 52px;
  max-width: 273px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  font-family: 'Noto Sans JP', sans-serif;
}

.people_pic_10 {
  background-image: url(../images/岩井.png);
  height: 133.76px;
  width: 130px;
  margin-left: 85px;
  margin-top: -20px;
  margin-bottom: 30px;
}

.people_10_text {
  height: 52px;
  max-width: 266px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  font-family: 'Noto Sans JP', sans-serif;
}

.people_pic_11 {
  background-image: url(../images/島袋.png);
  height: 133.76px;
  width: 130px;
  margin-left: 85px;
  margin-top: -20px;
  margin-bottom: 30px;
}

.people_11_text {
  height: 52px;
  max-width: 266px;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  font-family: 'Noto Sans JP', sans-serif;
}

.people_pic_12 {
  background-image: url(../images/植本.png);
  height: 136px;
  width: 247.16px;
  margin-left: 30px;
  margin-top: -20px;
  margin-bottom: 30px;
}

.people_s {
  display: none;
}

.people_1_s {
  display:flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  justify-content:space-between;
  height: 350px;
  margin-top: 30px;
}

.people_box_s{
  background-image: url(../images/content6_peoplebox_s.png);
  width: 354px;
  height: 103px;
  margin: 0 auto;
}

.people_1_ss {
  display: flex;
  justify-content: space-between;
}

.people_1_text_s {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  font-family: 'Noto Sans JP', sans-serif;
  padding-top: 15px;
  padding-left: 10px;
}

.people_pic_1_s {
  background-image: url(../images/people_pic_1_s.png);
  height: 89px;
  width: 87.11px;
  margin-top: -35px;
  margin-right: 15px;
}

.people_2_ss {
  display: flex;
  justify-content: space-between;
}

.people_2_text_s {
  width: 220px;
  font-size: 16px;
  font-weight: 700;
  line-height: 17.6px;
  font-family: 'Noto Sans JP', sans-serif;
  padding-top: 15px;
  padding-left: 10px;
}

.people_pic_2_s{
  background-image: url(../images/people_pic_2_s.png);
  height: 90px;
  width: 87.11px;
  margin-top: -35px;
  margin-right: 15px;
}

.people_3_ss {
  display: flex;
  justify-content: space-between;
}

.people_3_text_s {
  width: 200px;
  font-size: 16px;
  font-weight: 700;
  line-height: 17.6px;
  font-family: 'Noto Sans JP', sans-serif;
  padding-top: 15px;
  padding-left: 10px;
}

.people_pic_3_s {
  background-image: url(../images/people_pic_3_s.png);
  height: 90px;
  width: 87.11px;
  margin-top: -35px;
  margin-right: 15px;
}

.people_2_s {
  display:flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  justify-content:space-between;
  height: 350px;
  margin-top: 30px;
  display: none;
}

.people_4_ss {
  display: flex;
  justify-content: space-between;
}

.people_4_text_s {
  width: 220px;
  font-size: 16px;
  font-weight: 700;
  line-height: 17.6px;
  font-family: 'Noto Sans JP', sans-serif;
  padding-top: 15px;
  padding-left: 10px;
}

.people_pic_4_s {
  background-image: url(../images/people_pic_4_s.png);
  height: 90px;
  width: 87.11px;
  margin-top: -35px;
  margin-right: 15px;
}

.people_5_ss {
  display: flex;
  justify-content: space-between;
}

.people_5_text_s {
  width: 231px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20.8px;
  font-family: 'Noto Sans JP', sans-serif;
  padding-top: 15px;
  padding-left: 10px;
}

.people_pic_5_s {
  background-image: url(../images/people_pic_5_s.png);
  height: 90px;
  width: 87.11px;
  margin-top: -35px;
  margin-right: 15px;
  margin-left: 0px;
}

.people_6_ss {
  display: flex;
  justify-content: space-between;
}

.people_6_text_s {
  width: 231px;
  font-size: 16px;
  font-weight: 700;
  line-height: 17.6px;
  font-family: 'Noto Sans JP', sans-serif;
  padding-top: 15px;
  padding-left: 10px;
}

.people_pic_6_s {
  background-image: url(../images/people_pic_6_s.png);
  height: 90px;
  width: 87.11px;
  margin-top: -35px;
  margin-right: 15px;
}

.people_3_s {
  display:flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  justify-content:space-between;
  height: 350px;
  display: none;
}

.people_7_ss {
  display: flex;
  justify-content: space-between;
}

.people_7_text_s {
  width: 140px;
  font-size: 16px;
  font-weight: 700;
  line-height: 17.6px;
  font-family: 'Noto Sans JP', sans-serif;
  padding-top: 15px;
  padding-left: 10px;
}

.people_pic_7_s {
  background-image: url(../images/people_pic_7_s.png);
  height: 74px;
  width: 195px;
  margin-top: -30px;
  margin-right: 10px;
}

.people_8_ss {
  display: flex;
  justify-content: space-between;
}

.people_8_text_s {
  width: 231px;
  font-size: 16px;
  font-weight: 700;
  line-height: 17.6px;
  font-family: 'Noto Sans JP', sans-serif;
  padding-top: 15px;
  padding-left: 10px;
}

.people_pic_8_s {
  background-image: url(../images/people_pic_8_s.png);
  height: 90px;
  width: 87.11px;
  margin-top: -35px;
  margin-right: 15px;
}

.people_9_ss {
  display: flex;
  justify-content: space-between;
}

.people_9_text_s {
  width: 168px;
  height: 54px;
  font-size: 16px;
  font-weight: 700;
  line-height: 17.6px;
  font-family: 'Noto Sans JP', sans-serif;
  padding-top: 8px;
  padding-left: 5px;
}

.people_pic_9_s {
  background-image: url(../images/people_pic_9_s.png);
  height: 82px;
  width: 161px;
  margin-top: -35px;
  margin-right: 10px;
}

.people_4_s {
  display:flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  justify-content:space-between;
  height: 350px;
  display: none;
}

.people_10_ss {
  display: flex;
  justify-content: space-between;
}

.people_10_text_s {
  width: 211px;
  height: 54px;
  font-size: 16px;
  font-weight: 700;
  line-height: 17.6px;
  font-family: 'Noto Sans JP', sans-serif;
  padding-top: 15px;
  padding-left: 10px;
}

.people_pic_10_s {
  background-image: url(../images/people_pic_10_s.png);
  height: 90px;
  width: 87.11px;
  margin-top: -35px;
  margin-right: 10px;
}

.people_11_ss {
  display: flex;
  justify-content: space-between;
}

.people_11_text_s {
  width: 211px;
  height: 54px;
  font-size: 16px;
  font-weight: 700;
  line-height: 17.6px;
  font-family: 'Noto Sans JP', sans-serif;
  padding-top: 15px;
  padding-left: 10px;
}

.people_pic_11_s {
  background-image: url(../images/people_pic_11_s.png);
  height: 90px;
  width: 87.11px;
  margin-top: -25px;
  margin-right: 10px;
}

.people_pic_12_s {
  background-image: url(../images/people_pic_12_s.png);
  height: 90px;
  width: 173px;
  margin-top: -25px;
  margin-left: 25%;
}

.readmore {
  background-image: url(../images/readmore.png);
  width: 115px;
  height: 26px;
  margin: 0 auto;
  margin-top: 30px;
  display: none;
}

.readmore p {
  color: white;
  font-size: 18px;
  line-height: 18px;
  font-style: italic;
  padding-top: 5px;
}

.people_2_s.active {
  display: block;
}

.people_3_s.active {
  display: block;
}

.people_4_s.active {
  display: block;
}

.readmore.active {
  display: block;
}

@media screen and (max-width:1250px) {
  .people {
    max-width: 85%;
  }
}

@media screen and (max-width:1080px) {

  .content_6 {
    height: 4000px;
  }

  .people_1, .people_2, .people_3, .people_4 {
    display:flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    justify-content:space-between;
    height: 900px;
  }

  .people {
    max-width: 60%;
  }

  .people_box {
    margin-bottom: 30px;
  }
}

@media screen and (max-width:500px) {
  .content_6 {
    height: 700px;
  }

  .schedule {
    font-size: 44px;
  }

  .people {
    display: none;
  }

  .people_s {
    display: block;
  }
}

@media screen and (max-width:400px) {
  .schedule {
    font-size: 36px;
  }
}

.content_7 {
  margin-top: 300px;
}

.FAQ_content {
  max-width: 50%;
  height: 650px;
  margin: 0 auto;
}

.FAQ {
  color: #FDD35C;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  font-style: italic;
  font-family: "Roboto";
  text-align: center;
  padding-top: 100px;
  padding-bottom: 20px;
  margin-top: -450px;
}

.text14 {
  background-image: url(../images/content7_undertext.png);
  max-width: 209px;
  height: 18px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.content7_right_white {
  display: block;
  margin-left: 78%;
}

.content7_right_blue {
  display: block;
  margin-left: 93%;
  transform: rotate(29.24deg);
}

.content7_left {
  display: block;
}

.QA_1, .QA_1_d {
  margin-bottom: 20px;
  display: flex;
}

.QA_1_Q {
  background-image: url(../images/Q.png);
  width: 33px;
  height: 33px;
}

.QA_1_Q p {
  color: white;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  font-family: "Roboto";
  text-align: center;
  padding-top: 3px;
}

.QA_1_Q_text {
  padding-left: 30px;
  padding-top: 3px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  font-family: 'Noto Sans JP', sans-serif;
}

.QA_2, .QA_2_d {
  margin-bottom: 60px;
  display: flex;
}

.QA_2_A {
  background-image: url(../images/A.png);
  width: 33px;
  height: 33px;
}

.QA_2_A p {
  color: white;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  font-family: "Roboto";
  text-align: center;
  padding-top: 3px;
}

.QA_2_A_text {
  padding-left: 30px;
  padding-top: 3px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  font-family: 'Noto Sans JP', sans-serif;
}

.tell_link {
  margin-bottom: 30px;
}

.tell_link a {
  color: black;
}

@media screen and (max-width:1080px) {
  .FAQ_content {
    max-width: 70%;
    height: 550px;
  }

  .content_7 {
    margin-top: 3150px;
  }

  .content7_right_white,
  .content7_right_blue,
  .content7_left, 
  .tell_link {
    display: none;
  }
}

@media screen and (max-width:800px) {
  .FAQ {
      font-size: 48px;
  }

  .QA_1_Q_text,
  .QA_2_A_text {
    font-size: 16px;
  }

  .QA_1_d,
  .QA_2_d {
    display: none;
  }
}

@media screen and (max-width:500px) {
  .content_7 {
    margin-top: 500px;
  }

  .FAQ {
    font-size: 26px;
}

  .FAQ_content {
    max-width: 75%;
  }
}

.content_8 {
  background-image: url(../images/content8.png);
  width: 100%;
  height: 279px;
  margin-top: 750px;
}

.content8_maru {
  max-width: 301px;
  margin: 0 auto;
  padding-top: 60px;
}

.content8_maru_logo {
  height: 50px;
  width: 301px;
  border-radius: 30px;
  line-height: 31.86px;
  background-color: #333333;
  border: solid 3px white;
  color: white;
  font-size: 22px;
  font-weight: 700;
  font-family: 'Noto Sans JP', sans-serif;
  text-align: center;
  padding-top: 14px;
} 

.border {
  max-width: 1192px;
  margin: 0 auto;
  margin-top: 30px;
}

.header {
  display: flex;
  height: 64px;
  max-width: 435px;
  margin: 0 auto;
  margin-top: 10px;
}

.header p {
  color: white;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  font-family: 'Noto Sans JP', sans-serif;
  padding-top: 35px;
}

@media screen and (max-width:800px) {
  .content_8 {
    margin-top: 500px;
  }

  .content8_maru {
    max-width: 250px;
    margin: 0 auto;
    height: 40px;
  }

  .content8_maru_logo {
    width: 250px;
    height: 41.5px;
    font-size: 20px;
    line-height: 23.17px;
    padding-top: 18px;
  }
}

@media screen and (max-width:500px) {
  .header {
    max-width: 235px;
  }

  .header img {
    width: 121.64px;
    height: 31.65px;
  }

  .header p {
    font-size: 9.12px;
    line-height: 13.02px;
    padding-top: 16px;
  }
}